<div class="container">
  <div class="row">
    <div class="col-md-7 ">
      <br />
      <h5>Courses</h5>
      <br />
      <div class="d-inline-flex">
        <!-- cards for different courses -->

        <div
          *ngFor="let sub of Subjects"
          class="card mr-5"
          style="width: 20em;"
        >
          <div (click)="openCourse()" class="card-body">
            <h5 class="card-title">{{ sub }}</h5>
            <!-- <h6 class="card-text mb-2 text-muted">Card subtitle</h6> -->
            <!-- <p class="card-subtitle">Uploaded by teacher</p> -->
            <!-- <a href="#" class="card-link">Card link</a> -->
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>

        <!-- d -->
      </div>
    </div>

    <div class="col-md-5 ">
      <br />
      <div style="display: inline-flex">
        <h5>Groups</h5>
        <button
          style=" position: absolute; right: 0"
          class="btn btn-primary mr-0"
          (click)="createGroup()"
        >
          Create Group
        </button>
      </div>
      <br />

      <div *ngIf="isCreateAGroup">
        <br />

        <form
          #createNewGroup="ngForm"
          (ngSubmit)="submitGroupCreation(createNewGroup)"
        >
          <input
            type="text"
            class="form-control"
            name="groupName"
            ngModel
            id="groupName"
            placeholder="Enter a group name"
          />
          <br />
          <h6><strong>Select Members</strong></h6>

          <div ngModelGroup="members">
            <div class="form-group" *ngFor="let user of listOfUsers">
              <input
                type="checkbox"
                ngModel
                [id]="user._id"
                value="false"
                name="{{ user._id }}"
              />
              <label for="{{ user._id }}">&nbsp;{{ user.name }}</label>
            </div>
          </div>

          <button type="submit" class="btn btn-success">Create</button>
        </form>
      </div>
      <br />
      <div *ngIf="!isCreateAGroup">
        <!-- <button (click)="openGroup()">Go to group</button> -->
        <div *ngFor="let grp of listOfGroup">
          <div
            *ngFor="let sub of Subjects"
            class="card mr-5"
            style="width: 20em;"
          >
            <div (click)="openGroup(grp._id)" class="card-body">
              <h5 class="card-title">
                <i class="fa fa-users"></i>&nbsp;&nbsp;{{ grp.name }}
              </h5>
              <!-- <h6 class="card-text mb-2 text-muted">Card subtitle</h6> -->
              <!-- <p class="card-subtitle">Uploaded by teacher</p> -->
              <!-- <a href="#" class="card-link">Card link</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>

  <!-- <app-add-course></app-add-course> -->
</div>
